/* 42 of 200 CSS properties converted by rtl.daskhat.ir 
 These properties should be override originals. 
 just load rtl css file after original css file.*/ 

/* body {direction:rtl;} */

@import url('http://fonts.googleapis.com/css?family=Raleway:400,900,700|Open+Sans:300,400,600,700');
@import url('font-awesome.css');
body{
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
}

.bold{
    font-weight: 900;
}

header{
    background: url(../img/header-pattern-150.png) repeat;
    margin: 0;
    padding: 0 0 20px;
    position: relative;
    z-index: 2000;
}

header .navigation{
    float: left;
}

header ul.nav li{
    border: none;
    margin: 0;
}

header ul.nav li a{
    border: none;
    font-weight: 400;
}

header ul.nav li ul{
    z-index: 1000;
    margin-top: 20px;
}

header ul.nav li ul li ul{
    margin: 1px 1px 0 0 ;
}

header ul.nav li a i{
    color: #fff;
}

.container, .navbar-static-top .container{
    width: 940px;
}

.container{
    margin-left: auto;
    margin-right: auto;
    *zoom: 1;
}

.container:before, .container:after{
    display: table;
    line-height: 0;
    content: "";
}

.container:after{
    clear: both;
}

.dropdown{
    position: relative;
}

.nav{
    margin-bottom: 20px;
    margin-right: 0;
    list-style: none;
}

.nav > li > a{
    display: block;
}

.nav > li > a:hover, .nav > li > a:focus{
    text-decoration: none;
    background-color: #eeeeee;
}

.nav > .dropdown.active > a:hover, .nav > .dropdown.active > a:focus{
    cursor: pointer;
}

.navbar .nav a:hover{
    background: none;
}

.navbar .nav > .active > a,.navbar .nav > .active > a:hover{
    font-weight: 600;
}

.navbar .nav > .active > a:active,.navbar .nav > .active > a:focus{
    background: none;
    outline: 0;
    font-weight: 600;
}

.navbar .nav li .dropdown-menu{
    z-index: 1000;
}

.navbar .nav{
    position: relative;
    right: 0;
    display: block;
    float: right;
    margin: 0 0 0 10px ;
    border-left: none;
    border-right: none;
}

.navbar .nav > li{
    float: right;
}

.navbar .nav > li > a{
    float: none;
    padding: 10px 15px 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    font-size: 13px;
    margin-right: 10px;
    margin-left: 0;
    border-left: none;
    border-right: none;
    border: 2px solid transparent;
    background-image: none;
    background: none;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover{
    color: #333333;
    text-decoration: none;
    background-color: transparent;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{
    color: #fff;
    text-decoration: none;
    background-color: #e5e5e5;
    -webkit-box-shadow: inset 0 0 1px #555;
    -moz-box-shadow: inset 0 0 1px #555;
    box-shadow: inset 0 0 1px #555;
    border: 2px solid #302f2f;
    padding: 4px 10px 4px 10px ;
    background-image: none;
    background: #343434;
    filter: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.navbar .nav > li > .dropdown-menu:before{
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-right: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.navbar .nav > li > .dropdown-menu:after{
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-left: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-right: 6px solid transparent;
    content: '';
}

.dropdown-menu{
    *border-right-width: 0;
    *border-bottom-width: 0;
    border-radius: 0 0 6px 6px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    float: right;
    min-width: 180px;
    padding: 0;
    margin: 2px 0 0;
    list-style: none;
    background: #343434;
    border: 2px solid #302f2f;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-top: none;
    -webkit-background-clip: none;
    -moz-background-clip: none;
    background-clip: none;
}

.dropdown-menu .dropdown i{
    position: absolute;
    left: 0;
    margin-top: 3px;
    padding-right: 20px;
}

.dropdown-submenu > .dropdown-menu{
    border-radius: 0 0 0 0;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus{
    color: #dddddd;
    background-color: none;
    background-image: none;
    background-repeat: repeat-x;
    filter: none;
    text-decoration: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #343434;
}

.navbar .nav > a i[class^="icon-"]{
    color: #fdfdfd;
}

ul.nav li.dropdown a{
    z-index: 1000;
    display: block;
}

ul.nav li.dropdown ul li ul.dropdown-menu{
    margin-right: 0px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

ul.nav li.dropdown ul li i{
    margin-left: 20px;
}

select.selectmenu{
    display: none;
}

.dropdown-menu li{
    margin: 0;
    padding: 0;
}

.dropdown-menu li a{
    color: #ddd;
    font-size: 12px;
    padding: 10px 15px 10px 15px ;
    margin: 0;
    text-shadow: none;
    border-bottom: 1px solid #303030;
    text-decoration: none;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a,  .dropdown-menu .active > a, .dropdown-menu .active > a:hover{
    color: #ffffff;
    text-decoration: none;
    background-image: none;
    background-repeat: none;
    filter: none;
}

.dropdown-menu .sub-menu-level1, .dropdown-menu .sub-menu-level2{
    right: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: 0;
}

.dropdown-menu li:hover .sub-menu-level1{
    visibility: visible;
}

.dropdown-menu li li:hover .sub-menu-level2{
    visibility: visible;
}

@media (min-width: 1200px){
    .container,  .navbar-static-top .container{
        width: 1170px;
    }

}

@media (min-width: 768px) and (max-width: 979px){
    .container,  .navbar-static-top .container{
        width: 724px;
    }

    nav ul li{
        display: none;
    }

    select.selectmenu{
        display: block;
        width: 100%;
        margin-top: 0;
        color: #111;
        margin-left: 20px;
        line-height: 30px;
        font-size: 13px;
    }

    select.selectmenu .bold{
        font-weight: bold;
    }

}

@media (max-width: 768px){
    .navbar-static-top{
        margin-left: -20px;
        margin-right: -20px;
    }

    .container{
        width: auto;
    }

    nav ul li{
        display: none;
    }

    header .navigation{
        margin: 0 auto;
        text-align: center;
        width: 90%;
        float: none;
    }

    select.selectmenu{
        display: block;
        width: 100%;
        float: right;
        margin-bottom: 20px;
        color: #111;
        margin-left: 20px;
        line-height: 30px;
        font-size: 13px;
    }

    select.selectmenu .bold{
        font-weight: bold;
    }

}

@media (max-width: 480px){
    .headnav{
        text-align: center;
        float: none;
        margin: 10px 0 0 0 ;
    }

}

