/* 10 of 143 CSS properties converted by rtl.daskhat.ir 
 These properties should be override originals. 
 just load rtl css file after original css file.*/ 

/* body {direction:rtl;} */

.animationload{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    background-color: #fff;
}

.loader{
    position: absolute;
    top: 50%;
    right: 50%;
    margin: -100px -100px 0 0 ;
    width: 200px;
    height: 200px;
    background-image: url("../images/apple-touch-icon.png");
    background-position: center;
    background-repeat: no-repeat;
}

:focus{
    outline: none;
}

.btn{
    font-family: $font_1;
    font-size: 14px;
    color: $white;
    padding: 15px 35px;
    border: 0;
    font-weight: 600;
    @include border-radius(3): ;
}

.btn-default{
    background-color: $red;
    color: $white;
    padding: 15px 20px;
    border: 0;
    @include border-radius(0): ;
}

.btn-default:hover{
    background-color: $blue_1;
}

.btn-cta{
    background-color: $color_3;
    color: $white;
    padding: 15px 25px;
    border: 0;
    font-weight: 600;
    letter-spacing: 1px;
    @include border-radius(0): ;
    &: hover;
}

.navbar-main{
    .btn-orange-cta: ;
}

.btn-primary{
    background-color: $red;
    @extend .btn: ;
    &: hover;
}

.btn-secondary{
    background-color: $blue_1;
    @extend .btn: ;
    &: hover;
}

.btn-secondary.disabled{
    background-color: $blue_1;
    border-color: $blue_1;
}

.pagination{
    clear: both;
    text-align: right;
    margin-top: 20px;
    > li: ;
}

.btn-sidebar{
    border-radius: 0;
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    .fa: ;
}

.box-icon-1{
    margin-bottom: 20px;
    .icon: ;
}

.box-icon-2{
    margin-bottom: 40px;
    padding: 30px 30px 60px 30px ;
    background-color: #eff3f6;
    border: 1px solid #dcdde1;
    min-height: 250px;
    .icon: ;
}

.box-icon-3{
    padding: 50px 30px 60px 30px ;
    border: 1px solid #dcdde1;
    text-align: center;
    position: relative;
    background-color: #eff3f6;
    min-height: 300px;
    .icon: ;
}

.box-icon-4{
    margin-bottom: 20px;
    padding: 30px 30px 30px 30px ;
    background-color: #eff3f6;
    border: 1px solid #dcdde1;
    text-align: center;
    height: 145px;
    position: relative;
    overflow: hidden;
    .icon: ;
}

.box-image-1{
    position: relative;
    margin-bottom: 30px;
    .image: ;
}

.box-image-2{
    .image: ;
}

.box-image-4{
    position: relative;
    margin-bottom: 30px;
    .media: ;
}

.box-image-3{
    position: relative;
    margin-bottom: 40px;
    .image: ;
}

.feature-box-8{
    position: relative;
    background-color: $color_1;
    color: $white;
    margin-bottom: 30px;
    .media: ;
}

.box-testimony{
    position: relative;
    box-sizing: border-box;
    &: before;
}

.testimonial-1{
    position: relative;
    .media: ;
}

.testimonial-2{
    position: relative;
    margin-bottom: 100px;
    margin-right: 0;
    background-color: $color_1;
    .body: ;
}

.testimonial-3{
    .media: ;
}

.box-team{
    border: 1px solid #eee;
    margin-bottom: 30px;
    background-color: $color_1;
    color: #fff;
    &: hover;
}

.box-statistic{
    text-align: center;
    margin-top: 40px;
    .icon: ;
}

.counter-1{
    .counter-number: ;
}

.box-history{
    .item: ;
}

.history-2{
    .timeline__item: ;
}

.box-partner{
    margin-top: 30px;
    margin-bottom: 30px;
    .item: ;
}

.panel-faq{
    &.panel-group .panel: ;
}

.faq-list{
    margin: 0;
    padding: 0;
    li: ;
}

.faq-1{
    .item: ;
}

.panel-pricing{
    border-color: #ccc;
    text-align: center;
    margin-bottom: 40px;
    background-color: #f6f6f6;
    border-radius: 0;
    &.best: ;
}

.career-tabs{
    > ul: ;
}

.box-news-1{
    position: relative;
    margin-bottom: 30px;
    .media: ;
}

.box-news-2{
    position: relative;
    margin-bottom: 40px;
    .image: ;
}

.meta-blog{
    margin-bottom: 20px;
    &: after;
}

.list-news{
    width: 98%;
    .news-item: ;
}

@media (max-width: 1024px){
    .list-news{
        width: initial;
    }

}

