/*
 * Icon Font Kashat-admin
 * Made with love by Icons8 [ https://icons8.com/ ] using FontCustom [ https://github.com/FontCustom/fontcustom ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */


@font-face {
  font-family: "Kashat-admin";
  src: url("Kashat-admin.eot");
  src: url("Kashat-admin.eot?#iefix") format("embedded-opentype"),
       url("Kashat-admin.woff2") format("woff2"),
       url("Kashat-admin.woff") format("woff"),
       url("Kashat-admin.ttf") format("truetype"),
       url("Kashat-admin.svg#Collection-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Kashat-admin";
    src: url("icon8.svg#Kashat-admin") format("svg");
  }
}

[data-icons8]:before { content: attr(data-icons8); }

.icons8, [data-icons8]:before,
.icons8-about:before,
.icons8-add-user-male:before,
.icons8-advertising:before,
.icons8-alarm:before,
.icons8-android-os:before,
.icons8-apple:before,
.icons8-arrow-to-the-left:before,
.icons8-bill:before,
.icons8-briefcase:before,
.icons8-calendar:before,
.icons8-card-payment:before,
.icons8-caret-arrowhead-facing-down:before,
.icons8-caret-arrowhead-facing-down-2:before,
.icons8-check:before,
.icons8-check-mark-symbol:before,
.icons8-christmas-star:before,
.icons8-clock:before,
.icons8-cog-wheel:before,
.icons8-coin:before,
.icons8-coins:before,
.icons8-consumer-electronics:before,
.icons8-data-transfer:before,
.icons8-delete:before,
.icons8-delete-2:before,
.icons8-delete-button:before,
.icons8-delete-forever:before,
.icons8-discount:before,
.icons8-edit-file:before,
.icons8-event-accepted:before,
.icons8-facebook:before,
.icons8-filter:before,
.icons8-green-check-mark:before,
.icons8-grid:before,
.icons8-hand-with-coin:before,
.icons8-heart-outline:before,
.icons8-home-page:before,
.icons8-hotel:before,
.icons8-info:before,
.icons8-instagram:before,
.icons8-language:before,
.icons8-linkedin:before,
.icons8-location-marker:before,
.icons8-lock:before,
.icons8-login:before,
.icons8-love:before,
.icons8-loyalty-card:before,
.icons8-map-marker:before,
.icons8-menu:before,
.icons8-money:before,
.icons8-new:before,
.icons8-online-support:before,
.icons8-order-history:before,
.icons8-product:before,
.icons8-registered-trademark:before,
.icons8-replace-credit-card:before,
.icons8-right-pointing-arrow:before,
.icons8-sack-of-money:before,
.icons8-sale:before,
.icons8-search:before,
.icons8-security-status-is-unkown:before,
.icons8-shopping-bag:before,
.icons8-shopping-cart:before,
.icons8-sort:before,
.icons8-source-code:before,
.icons8-store:before,
.icons8-t-shirt:before,
.icons8-tax:before,
.icons8-time-span:before,
.icons8-transfer:before,
.icons8-transfer-2:before,
.icons8-tv:before,
.icons8-twitter:before,
.icons8-upload-to-cloud:before,
.icons8-user:before,
.icons8-view-details:before,
.icons8-visa-credit-card:before,
.icons8-wallet:before,
.icons8-warning-shield:before,
.icons8-youtube:before {
  display: inline-block;
  font-family: "Kashat-admin";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icons8-about:before { content: "\f11a"; }
.icons8-add-user-male:before { content: "\f12c"; }
.icons8-advertising:before { content: "\f122"; }
.icons8-alarm:before { content: "\f107"; }
.icons8-android-os:before { content: "\f106"; }
.icons8-apple:before { content: "\f105"; }
.icons8-arrow-to-the-left:before { content: "\f148"; }
.icons8-bill:before { content: "\f138"; }
.icons8-briefcase:before { content: "\f110"; }
.icons8-calendar:before { content: "\f13a"; }
.icons8-card-payment:before { content: "\f10f"; }
.icons8-caret-arrowhead-facing-down:before { content: "\f117"; }
.icons8-caret-arrowhead-facing-down-2:before { content: "\f142"; }
.icons8-check:before { content: "\f12b"; }
.icons8-check-mark-symbol:before { content: "\f125"; }
.icons8-christmas-star:before { content: "\f154"; }
.icons8-clock:before { content: "\f116"; }
.icons8-cog-wheel:before { content: "\f10c"; }
.icons8-coin:before { content: "\f14e"; }
.icons8-coins:before { content: "\f118"; }
.icons8-consumer-electronics:before { content: "\f132"; }
.icons8-data-transfer:before { content: "\f128"; }
.icons8-delete:before { content: "\f13b"; }
.icons8-delete-2:before { content: "\f13c"; }
.icons8-delete-button:before { content: "\f13e"; }
.icons8-delete-forever:before { content: "\f13d"; }
.icons8-discount:before { content: "\f14a"; }
.icons8-edit-file:before { content: "\f11d"; }
.icons8-event-accepted:before { content: "\f14b"; }
.icons8-facebook:before { content: "\f100"; }
.icons8-filter:before { content: "\f151"; }
.icons8-green-check-mark:before { content: "\f126"; }
.icons8-grid:before { content: "\f14c"; }
.icons8-hand-with-coin:before { content: "\f119"; }
.icons8-heart-outline:before { content: "\f149"; }
.icons8-home-page:before { content: "\f10b"; }
.icons8-hotel:before { content: "\f135"; }
.icons8-info:before { content: "\f121"; }
.icons8-instagram:before { content: "\f101"; }
.icons8-language:before { content: "\f140"; }
.icons8-linkedin:before { content: "\f104"; }
.icons8-location-marker:before { content: "\f152"; }
.icons8-lock:before { content: "\f11b"; }
.icons8-login:before { content: "\f12d"; }
.icons8-love:before { content: "\f109"; }
.icons8-loyalty-card:before { content: "\f12f"; }
.icons8-map-marker:before { content: "\f153"; }
.icons8-menu:before { content: "\f145"; }
.icons8-money:before { content: "\f124"; }
.icons8-new:before { content: "\f130"; }
.icons8-online-support:before { content: "\f112"; }
.icons8-order-history:before { content: "\f129"; }
.icons8-product:before { content: "\f113"; }
.icons8-registered-trademark:before { content: "\f123"; }
.icons8-replace-credit-card:before { content: "\f10d"; }
.icons8-right-pointing-arrow:before { content: "\f147"; }
.icons8-sack-of-money:before { content: "\f115"; }
.icons8-sale:before { content: "\f131"; }
.icons8-search:before { content: "\f144"; }
.icons8-security-status-is-unkown:before { content: "\f11c"; }
.icons8-shopping-bag:before { content: "\f12e"; }
.icons8-shopping-cart:before { content: "\f108"; }
.icons8-sort:before { content: "\f150"; }
.icons8-source-code:before { content: "\f11f"; }
.icons8-store:before { content: "\f158"; }
.icons8-t-shirt:before { content: "\f134"; }
.icons8-tax:before { content: "\f137"; }
.icons8-time-span:before { content: "\f155"; }
.icons8-transfer:before { content: "\f127"; }
.icons8-transfer-2:before { content: "\f12a"; }
.icons8-tv:before { content: "\f133"; }
.icons8-twitter:before { content: "\f103"; }
.icons8-upload-to-cloud:before { content: "\f11e"; }
.icons8-user:before { content: "\f10a"; }
.icons8-view-details:before { content: "\f156"; }
.icons8-visa-credit-card:before { content: "\f136"; }
.icons8-wallet:before { content: "\f10e"; }
.icons8-warning-shield:before { content: "\f120"; }
.icons8-youtube:before { content: "\f102"; }