.portal_item{ float: left; margin-bottom: 20px;}
.portal_item img{ width: 100%;}
.portal_title{ text-align: center; background: #ccc;text-align: center; background: #732a80; padding: 10px; color: #fff;}


.kashatTable{width: 100%;}
.kashatTable th{ padding: 10px;}
.kashatTable td{ padding: 2px 5px; border-bottom: solid 1px #716aca; }
.kashatTable .btn{ font-size: 12px;}
.kashatTable .btn i{ font-size: 12px;}
.kashat_alert_danger{ background-color: #ffeaed85; }
.hidden{ display: none; visibility: hidden;}
.none{display: none !important;}
.m-portlet__body2{ padding:10px;}
.pagination{margin: 20px;}
.modal-lgg {
    max-width: 1215px !important;
}
