body{
    direction: rtl;
    font-family: 'Geess', sans-serif;
}
.social-media li {
    margin-right:  0px;
    margin-left:  20px;
}

.social-media li:last-child {
    margin-left: 0px;
}
.first-navbar-items .dropdown>button i {
    margin-right:  0px;
    margin-left:  10px;
}

.dropdown-toggle::after {
    margin-left: 0px;
    margin-right: .255em;
}

.first-navbar-items .dropdown>button {
    margin-right: 0px;
    margin-left: 30px;
}
.user-profile-details img {
    margin: 0 0 0 10px;
}

.page-header-buy-coins {
    margin: 0 0 0 20px;
}

.page-header-coins .page-header-buy-coins:last-child {
    margin: 0;
}

.side-menu {
    left: inherit;
    right: 0;
}

.side-menu-list-icon {
    margin: 0 0 0 20px;
}

ul.side-menu-list > li > a > span {
    left: inherit;
    right: 78px;
}

ul.side-menu-list li a p {
    right: inherit;
    left: 15px;
}

ul.side-menu-list li a p:before {
    transform: rotate(90deg);
}

.all-wrapper {
    padding: 0 300px 106px 0;
}

.action-btn i {
    margin: 0 0 0 10px;
}

.section-title span {
    margin: 0 10px 0 0;
}

.campaign-block-status i {
    margin: 0 0 0 10px;
}

.footer-links li i {
    margin: 0 0 0 5px;
}
.page-header-buy-coins span {
    margin: 0 10px 0 0;
}
a.campaign-block-link i {
    margin: 0 0 0 5px;
}
ul.campaign-steps li a p {left: 0;right: inherit;margin: 0 0 0 10px;}

ul.campaign-steps li a i {
    margin: 0 0 0 5px;
}

.user-profile-txt {
    text-align: right;
}
.custom-list-input .bootstrap-tagsinput > span > span:before {
    margin: 0 8px 0 0;
}

.custom-list-input .bootstrap-tagsinput > span:before {
    margin: 0 0 0 5px;
}
.custom-list-input .bootstrap-tagsinput > span {
    text-align: right;
}
ul.campaign-steps li a i:before {
    transform: rotate(90deg);
}
a.customer-store-block-link i {
    margin: 0 0 0 5px;
}
ul.campaign-steps li:first-child i:before {
    transform: rotate(-90deg);
}
.customer-store-notification {
    right: inherit;
    left: -15px;
}
.save-steps-btn i:before {
    transform: rotate(90deg);
}
.all-wrapper.closed {
    padding: 0 58px 106px 0;
}
.changeLang-dropdown-menu .notification-text {
    text-align: right;
}
.notification-text {
    text-align: right;
    margin: 0 0 0 10px;
}
a.notification-btn i {
    margin: 0 0 0 10px;
}
.notification-date i {
    margin:  0 0 0 5px;
}