/* -------------------------------------------------------------------
Stylesheet Guide
----------------------------------------------------------------------

01. Basics

02. Header

03. Side menu

04. Page header


/* ---------------------------------------------------------------------- */

/*	Basics
/* ---------------------------------------------------------------------- */

/* Import Font */

/* General Styles */

body {
    color: #222;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Oxygen', sans-serif;
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: padding ease-in-out 0.3s;
    -o-transition: padding ease-in-out 0.3s;
    transition: padding ease-in-out 0.3s;
    background: #fff;
    overflow-x: hidden;
}

body.fixed-header {
    padding-top: 82px;
}

li {
    list-style: none;
}

ul {
    padding: 0px;
    margin-bottom: 0px;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

p {
    margin: 0px;
}

a,
a:visited {
    color: #222;
}

hr.margin-bottom-30 {
    margin-bottom: 30px;
}

hr.margin-bottom-50 {
    margin-bottom: 50px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    margin: 0;
}

.form-control:focus {
    border-color: #795548;
}

.form-control {
    font-size: 14px;
}

.btn-reset {
    background: transparent;
    border: 0;
    padding: 0;
    outline: 0 !important;
    cursor: pointer;
}

/* ---------------------------------------------------------------------- */

/*	Basics
/* ---------------------------------------------------------------------- */

header {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px 0px, rgba(0, 0, 0, 0.16) 0px 2px 5px 0px;
    padding: 10px;
    background: #fff;
}

a.kashat-link {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px 0px, rgba(0, 0, 0, 0.16) 0px 2px 5px 0px;
    display: block;
    width: 100%;
    background: #ffffff;
    padding: 30px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

a.kashat-link i {
    display: block;
    font-size: 48px;
    margin-bottom: 10px;
    color: #702b84;
    position: relative;
    z-index: 1;
    transition: all ease-in-out .5s;
}

a.kashat-link:after {
    content: "";
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    background: #702b84;
    position: absolute;
    transition: all ease-in-out .5s;
}

a.kashat-link:hover:after {
    height: 100%;
}

a.kashat-link:hover {
    color: #fff;
}

a.kashat-link span {
    position: relative;
    z-index: 1;
    transition: all ease-in-out .5s;
}

a.kashat-link:hover i {
    color: #fff;
}

a.kashat-link:hover span {
    color: #fff;
}

.dropdown>button {
    color: #212121;
    padding: 15px 5px;
    margin-right: 30px;
    box-shadow: 0 0 0 !important;
}

.dropdown>button>div>i {
    color: #6d2b88;
    font-size: 24px;
    margin-right: 9px;
    margin-left: 7px;
}

.custom-dropdown-small {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    border: 0;
    padding: 0px;
    background: #6d2b88;
}

a.notificationBlock {
    background: #ffffff;
    padding-bottom: 10px;
    transition: all ease-in-out .5s;
    padding-top: 10px;
}

.notification-icon {
    background: #702b84;
    color: #fff;
    width: 38px;
    height: 38px;
    font-size: 18px;
    border-radius: 50%;
    margin: 0px 10px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    transition: all ease-in-out .5s;
}

.notification-text {
    transition: all ease-in-out .5s;
}

a.notificationBlock:hover .notification-text {
    color: #fff;
}

a.notificationBlock:hover {
    background: #6d2b88;
}

a.notificationBlock:hover .notification-icon {
    background: #fff;
    color: #702b84;
}
